@import "respond-to";
@import "flex-mixins";
// @import "edit-mode";

header{
	@include container;
	align-items: baseline;
	@include respond-to(phone){
		flex-direction: column;
	}

	a{
		span,h1{
			margin:auto;
			@include respond-to(phone){
				text-align: center;
			}
		}
		@include respond-to(phone){
			width:100%;
			text-align: center;
			padding-bottom: .5em;
			padding-top: .5em;
			//auto hide
			display: none;
		}
	}
	//always show the header link
	a:first-child{
		display: flex;
	}
	//display the menu button on mobile devices
	#menu{
		display: none;
		@include respond-to(phone){
			display: flex;
			position: fixed;
			top:5%;
			right:-45%;
		}
	}
}

body{
	#container{
		@include container;
		
		section{
			flex-grow:1;
			margin:.5em;
			width:350px;
			@include respond-to(phone-small){
				margin-left: 0;
				margin-right: 0;
			}
		}
		#profile-picture{
			max-width: 174px;
			padding: .5em;
			vertical-align: middle;
			@include respond-to(phone){
				order:1;
			}
		}
		#about-me{
			@include respond-to(phone){
				width:760px;
				order:2;	
			}
		}
	}
}

footer{
	margin-top: .5em;
	.icons{
		@include container;
		a{
			margin:auto;
		}
	}
}