@import "compass/css3";
@import "compass/utilities";
@import "structure";


$backgroundColour: #E9E9E9;
$headerBackgroundColour: black;
$sectionBackgroundColour: white;
$headerTextColour: white;
$footerTextColour: $headerTextColour;
$hightlightBackgroundColour: #606060;

body{
	background-color: $backgroundColour;
	font-family: Cambria, Georgia, serif;
}

header{
	background-color: $headerBackgroundColour;
	padding: .5em;
	a{
		font-size: 110%;
		@include respond-to(phone){
			border-top: 1px solid white;
		}
	}
	a:first-child{
		border:none;
	}
	a:link, a:visited{
	    color: $headerTextColour;
	    text-decoration: none;
	}

	a:hover, a:active{
	    color: blue;
	}
	.selected{
		@include respond-to(desktop){
			span{
				background-color: $hightlightBackgroundColour;
				padding: .4em;
				@include border-top-radius(1em);
			}
		}
		@include respond-to(phone){
			background-color: $hightlightBackgroundColour;
		}
	}
	#menu{
		@include respond-to(phone){
			color:white;
			border:none;
		}
	}
}

body{
	#container{
		section{
			background-color: $sectionBackgroundColour;
			padding-left:.5em;
			padding-right:.5em;
			padding-bottom:.5em;
			@include border-radius;
		}
	}
}

footer{
	background-color: $headerBackgroundColour;
	padding: .5em;
	a:link, a:visited{
	    color: $headerTextColour;
	    text-decoration: none;
	}

	a:hover, a:active{
	    color: blue;
	}
}
