<section>
    <h2>The University of Newcastle, Callaghan</h2>
    <h3>Bachelor of Engineering (Software)</h3>
    <div>
        Feb-2010 to Jul-2014 (est) <br>
        <strong>Key Achievement:</strong>
        On track to achieve First Class Honors
    </div>
</section>
<section>
    <h2>St Edwards College, East Gosford</h2>
    <h3>Higher School Certificate</h3>
    <div>
        2006 to 2008 <br>
        <strong>Key Achievement:</strong>                        
        Multiple Academic Awards
    </div>
</section>     
<section>
    <h2>Research Scholarship</h2>
    <h3>Exploring Building Information Modelling (BIM) 
        to Game Engine Conversion</h3>
    <div>
        2013-2014<br>
        <strong>Description:</strong>
        Researching the feasibility of game engines as a 
        platform for architectural modelling and visualisation. <br>
        <strong>Key Achievement:</strong>
        Paper under review for publication by the
        <a href="http://silverbullet.newcastle.edu.au/air/">Applied Informatics Research</a> group.
    </div>
</section>                
