<section>
    <h2><a href="//www.newcastle.edu.au/profile/ross-j-bille">The University of Newcastle</a></h2>
    <h3>Software Engineering Tutor and Demonstrator</h3>
    <div>
        Jul-2012 to Present <br>
        <strong>Key Achievements:</strong>
        <ul>
            <li>Developed sample Java web applications to be used as teaching resources.</li>
            <li>Teaching second and third year software engineering students.</li>
        </ul>
    </div>
</section>
<section>
    <h2><a href="//www.macgen.com.au/">Macquarie Generation</a></h2>
    <h3>Software Developer</h3>
    <div>
        Jul-2013 to Present <br>
        <strong>Key Achievements:</strong>
        <ul>
            <li>Mobile web applications (C#.NET).</li>
            <li>Offline HTML5 applications.</li>
            <li>Service integration.</li>
            <li>Agile development (Scrum).</li>
        </ul>
    </div>
</section>
