<section id="about-me">
    <h3>About Me</h3>
    <p>Hi I'm Ross Bille a Software Engineering student from the University of Newcastle. This site is currently under construction with the aim to showcase my many achievements.</p>
</section>
<section id="profile-picture">
   	<img src="//m.c.lnkd.licdn.com/media/p/8/000/21f/318/2258446.jpg" alt="Ross Bille">
</section>
