<section class="feature">
	<strong>Title: </strong><a href="//nova.newcastle.edu.au/vital/access/manager/Repository/uon:14123">Exploring Building Information Modelling (BIM) To Game Engine Conversion</a>
	<br>
	<strong>Authors:</strong>
	Bille, Ross;  Smith, Shamus P.;  Maund, Kim;  Brewer, Graham
	<br>
	<strong>Abstract:</strong>
	<p class="abstract">
		The use of detailed building plans and models is common in the architecture domain. Also there is increasing interest in the reuse of such models to realise 3D interactive virtual environments to aid model refinement and for use as training environments, for example virtual site visits. Unfortunately, the development of interactive virtual environments is both time consuming and technically difficult. One successful approach is the reuse of gaming technology to provide the underlying virtual environment and to allow developers to focus on importing appropriate content, e.g. building geometry and textures. Building Information Modelling (BIM) provides a rich source of building data and is an ideal basis for constructing realistic virtual environments. This paper overviews virtual environment development issues and outlines conversion pipelines from BIM to virtual environment via game engines from the current literature. Also the conversion from BIM tool Revit to the Unity3D game engine is explored in a case study. A summary of conversion pipelines is presented and a number of challenges for future work identified.
	</p>
</section>
<section class="feature">
	<strong>Title: </strong>
	<a href="papers/low-powered-face-detection.pdf">Face Detection on Low-Powered Hardware Devices:
Haar and Local Binary Pattern (LBP) Classifiers</a>
	<br>
	<strong>Authors: </strong>
	Bille, Ross; Koncz, Jordan; Ryan, Clinton
	<br>
	<strong>Abstract:</strong>
	<p class="abstract">
		The use of face detection algorithms is common throughout the computer science domain. Face detection forms the basic building blocks for complex face recognition and tracking algorithms. These algorithms are generally resource intensive, making them difficult to run on cheap, low-powered devices. This paper explores face detection algorithms with the aim to analyse their performance within the domain of low-powered devices. In particular, what reduction in accuracy is necessary to obtain an efficient face detection classifier.
	</p>
</section>
<section class="feature">
	<strong>Title: </strong>
	<a href="papers/phd-proposal.pdf">Software Engineering in Smart Systems</a>
	<br>
	<strong>Authors: </strong>
	Bille, Ross
	<br>
	<p class="abstract">Project proposal for my PhD application comprising software architecture of multi agent systems.</p>
</section>
<!-- section.feature>strong{Title: }+a+br+strong{Authors: }+br+strong{Abstract:}+p.abstract -->

