<section>
    <h2>Programming Languages:</h2>
    <ul>
        <li>Java</li>
        <li>HTML5</li>
        <li>JavaScript</li>
        <li>CSS</li>
        <li>SASS</li>
        <li>C#</li>
        <li>Python</li>
        <li>Ruby</li>
        <li>Latex</li>
    </ul>
</section>
<section>
    <h2>Tools:</h2>
    <ul>
        <li>git</li>
        <li>SourceTree</li>
        <li><a href="//bitbucket.org/RossBille">BitBucket</a></li>
        <!-- Sorry my bitbucket is a bit out of date-->
        <li><a href="//github.com/RossBille">GitHub</a></li>
        <li>BaseCamp</li>
        <li>Compass</li>
        <li>IntelliJ IDEA</li>
        <li>NetBeans</li>
        <li>Visual Studio</li>
    </ul>
</section>
<section>
    <h2>Platforms</h2>
    <ul>
        <li>Mac OSX</li>
        <li>Linux</li>
        <li>Unix</li>
        <li>Windows</li>
    </ul>
</section>
